$border-radius: 0.25rem;
$primary: #5caede;
$secondary: #293b51;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-text: #333333;
$body-bg: #ffffff;
$headings-text: #212529;
$subtle-text: #6c757d;
$disabled-text: #8f8f8f;
$component-text: #333333;
$component-bg: #f4f4f6;
$base-text: #212529;
$base-bg: #f7f7f7;
$hovered-text: #16181b;
$hovered-bg: #e9ecef;
$selected-text: #ffffff;
$selected-bg: #007bff;
$button-text: #212529;
$button-bg: #e4e7eb;
$link-text: #007bff;
$link-hover-text: #6ba547;
$series-a: #619ed6;
$series-b: #5bc0de;
$series-c: #f7d027;
$series-d: #e48f1b;
$series-e: #b77ea3;
$series-f: #e64345;

@import "~@progress/kendo-theme-bootstrap/dist/all.scss";
